# Ignore macOS system files
.DS_Store

# Ignore node.js dependencies
node_modules/

# Ignore CSV files
*data

# Ignore ouput folder
output/
data/
# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
.env/

# Ignore compiled Java files
*.class

# Ignore build directories
/build/
dist/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore text files
*.txtdata/
